<nav class="bg-[#16191C] sticky top-0 w-20 flex flex-col items-center justify-between py-4 h-full sidebar">
  
  <div class="text-white text-2xl mb-4">
    <!-- Add a logo or app icon here -->
    <i class="fas fa-home"></i>
  </div>
  <!-- Navigation Items -->
  <ul class="flex flex-col space-y-6 text-white">
    <li>
      <a href="#" class="text-xl hover:text-gray-400">
        <i class="fas fa-dashboard"></i>
      </a>
    </li>
    <li>
      <a href="#" class="text-xl hover:text-gray-400">
        <i class="fas fa-chart-pie"></i>
      </a>
    </li>
    <li>
      <a href="#" class="text-xl hover:text-gray-400">
        <i class="fas fa-users"></i>
      </a>
    </li>
  </ul>
</nav>